#calender-box {
    width: fit-content;
}

td,th {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
}

#土 {
    color:blue;
}
#日 {
    color:red;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

#modalContent{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
}